#header {
    background: #8e4dff;
    box-shadow: 0 1px 6px rgba(0,0,0,.1);
}

#header .container {
    max-width: 1200px;
    padding: 20px 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
#header h1 {
    color: #fff;
}
#header a {
    background: #fff;
    padding: 15px 30px;
    text-decoration: none;
    transition: transform .2s;
}
#header a:hover {
    transform: translateY(-5px);
}